ul li {
    list-style: none;
}

.dashboard-li a {
    text-decoration: none;
    color: white;
}

.dashboard-li:hover {
    background-color: #c92a52;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.dashboard-li:hover a {
    color: white;
    transition: 0.5s;
}