.vertical-menu {
	height: 100%;
	background-color: #eee;
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #04AA6D;
	color: white;
}

.product-image {
	height: 250px;
}

.verify {
	width: 30px !important;
	height: 30px !important;
}

.get-now {
	text-decoration: none;
	color: #344055;
}
.see-more{
	text-decoration: none;
	color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
	background: #DFC2F2;
	background-image: linear-gradient(to right, #ffffb3, #ffe6e6);
	background-attachment: fixed;
	background-size: cover;

}

#product-container {
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	/* margin: 5em auto; */
	height: 350px;
	/* width: 700px; */


}

.text-size{
	font-size: 14px;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 25px;
	height: 100%;
	float: left;
	width: 48%;

}

#product-container .product-details  {
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	/* font-size: 30px; */
	color: #344055;
	margin: 0;

}

#product-container .product-details h1:before {
	position: absolute;
	content: '';
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}




#product-container .product-details>p {
	font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 16px;
	color: #7d7d7d;
	margin: 10px;

}

.product-control {
	position: absolute;
	bottom: 2%;

}

.product-btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background: #809fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;

}

.product-btn:hover {
	transform: translateY(-6px);
	background: #1a66ff;
}

.product-btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
	padding: 5px 12px;
	font-size: 1.2em;
	margin: 0;

}

.product-btn .price,
.shopping-cart {
	background: #333;
	border: 0;
	margin: 0;
}

.product-btn .price {
	/* transform: translateX(-10%); padding-right: 15px; */
}

.product-btn .shopping-cart {
	transform: translateX(-100%);
	position: absolute;
	background: #333;
	z-index: 1;
	left: 0;
	top: 0;
}

.product-btn .buy {
	z-index: 3;
	font-weight: bolder;
}

.product-btn:hover .price {
	transform: translateX(-110%);
}

.product-btn:hover .shopping-cart {
	transform: translateX(0%);
}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#product-container img {
	width: 100%;
	height: 100%;
}

.info {
	background: rgba(27, 26, 26, 0.9);
	font-family: 'Bree Serif', serif;
	transition: all 0.3s ease-out;
	transform: translateX(-100%);
	position: absolute;
	line-height: 1.8;
	text-align: left;
	font-size: 105%;
	cursor: no-drop;
	color: #FFF;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.info h2 {
	text-align: center
}

.product-image:hover .info {
	transform: translateX(0);
}

.info ul li {
	transition: 0.3s ease;
}

.info ul li:hover {
	transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
	transition: all 0.3s ease-out;
}

.product-image:hover img {
	transform: scale(1.2, 1.2);
}


/************************************** product detail style ****************************************************/


/* ----- Variables ----- */
/* $color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40; */

/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
.body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-color: #01e37f;
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: #a6a6a6;
}

img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);
}

.photo-main .controls {
	display: flex;
	justify-content: space-between;
	padding: 0.8em;
	color: #fff;
}

.photo-main .controls i {
	cursor: pointer;
}


.photo-main	.controls img {
	position: absolute;
	left: -3.5em;
	top: 2em;
	max-width: 110%;
	filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}


.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;
}

.photo-album ul {
	display: flex;
	justify-content: space-around;
}

.photo-album li {
	float: left;
	width: 55px;
	height: 55px;
	padding: 7px;
	border: 1px solid #a6a6a6;
	border-radius: 3px;
}


/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}

.title h1 {
	margin-bottom: 0.1em;
	color: #4c4c4c;
	font-size: 1.5em;
	font-weight: 900;
}

.title span {
	font-size: 0.7em;
	color: #a6a6a6;
}


.price {
	margin: 1.5em 0;
	color: #ff3f40;
	font-size: 1.2em;
}

/* .price span {
	padding-left: 0.15em;
	font-size: 2.9em;
} */

.variant {
	overflow: auto;
}

.variant h3 {
	margin-bottom: 1.1em;
}

.variant li {
	float: left;
	width: 35px;
	height: 35px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}

.variant li:not(:first-child) {
	margin-left: 0.1em;
}

.variant li:first-child:hover {
	border: 1px solid #a6a6a6;
}

.description {
	clear: left;
	margin: 2em 0;
}

.description .h3 {
	margin-bottom: 1em;
}

.description .h3 ul {
	font-size: 0.8em;
	list-style: disc;
	margin-left: 1em;
}

.description .h3 li {
	text-indent: -0.6em;
	margin-bottom: 0.5em;
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #ff3f40;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;
}

.buy--btn:active {
	transform: scale(0.97);
}